

 #example3 {
   text-align:center; 
   border:1px solid black; 
   padding:10px;}
   
#form3 {
  color: blue;
  width:auto;
  text-align: center;
}
#form4 {
  color: red;
  width:auto;
  text-align: center;
}







.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 610px;
    height: 610px;
    background-color: black;
  }
  
  .grid div {
    width: 200px;
    height: 200px;
    background-color: white;
    margin-bottom: 5px;
  }
  
  .playerX {
    
    background-image: url('../Resources/X.png')
    
  }
  
  .playerO {
    background-image: url('../Resources/O.png')
  }